@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
body {
    font-family: system-ui, sans-serif;
    background-color: #d0dbe1;
    color: #444447;
    padding: 10px;
    transition: all 0.5s ease-in-out 0s;
}
a {
    text-decoration: none;
    padding: 15px;
    transition:all 0.5s ease-in-out 0s ;
    font-weight: bold;
}
.container {
    border: 1px solid red;
    border-radius: 2rem;
    background-color: #E6EAEC;
    box-shadow: 10px 10px 10px 10px #9caebd ;
    padding: 2rem;
    padding-top: 1px;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out 0s;
}
.hidden {
    opacity: 0;
    transform: translateY(50px);
}
.container:hover {
    margin-top: 50px;
    border: 4px solid black;
}
a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}
a.dark-mode:hover {
    background-color: white;
    color: black;
}
a.dark-mode {
    color: red;
}
body.dark-mode {
    background-color: black;
    color: white;
}
div.dark-mode {
    background-color: black;
    color: white;
    box-shadow: none;
}
div.dark-mode:hover {
    border: 4px solid red;
}
button {
    background-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 21px;
}